@import url('https://fonts.cdnfonts.com/css/doctor-glitch');

:root {
    --bg: #f0f0f0;
    --primary-color: #EF476F;
    --secondary-color: #F78C6B;
    --accent-color: #FFD166;
}
body {
    background-color: var(--bg);
}

.code, .active {
    color: #FF10F0;
}

.glitch-font {
    font-family: 'Doctor Glitch', sans-serif;
}

.container-fluid {
    /* Since navbar height is 58px */
    padding-top: 58px;
}

#collapse {
    position: absolute;
    z-index: 1;
    width: 100vw;
}